doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		if title
			title Image Node - #{title} 
		else
			title Image Node
		link(rel="stylesheet", href="/css/main.css")
	body
		header
			if session.login
				p.hy Hy #{session.username} !
				a.button(href="/logout") Logout
			else
				a.button(href="/login") Login
		block content

