extend layout
block content
	- path = path ? "/login?path=" + path : "/login"
	h1 Login
	if fail
		h2.fail Invalid loggin !
	form(method="POST", action=`${path}`)
		div
			label(for="username") Username: 
			input#username(type="text", name="username")
		div
			label(for="password") Password: 
			input#password(type="password", name="password")
		button(type="submit") Login

